{% extends 'back/layout_back.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <h1>Liste des utilisateurs</h1>

    <a href="{{ path('app_back_user_new') }}" class="btn btn-sm btn-success">Ajouter un utilisateur</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Courriel</th>
                <th>Rôles</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>
                    <a href="{{ path('app_back_user_show', {'id': user.id}) }}" class="btn btn-sm btn-primary">show</a>
                    <a href="{{ path('app_back_user_edit', {'id': user.id}) }}" class="btn btn-sm btn-warning">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
